* {
  width: 100%;
  box-sizing: border-box;
  font-family: "Trirong", sans-sans-serif;
  justify-content: center;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  width: 95%;

}
.top-banner {
  background-color: #0d1c36;
  padding: 15px;


}
.website-title {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}
.sign-up {
  font-size: 18px;
  padding-top: 15px;
  text-align: center;

}
.paragraph {
  margin: 0;
  font-size: 14px;
  border-bottom: 5px solid #0d1c36;
  padding-bottom: 20px;
  text-align: center;
}
.section-header {
  margin: 3px;
  text-align: left;
  padding-top: 15px;
  border-top: 2px solid #0d1c36;
  font-size: 22px;

}
.fieldset {
  border: none;
}
::placeholder {
  text-align: right;
  font-style: italic;
  padding-right: 10px;
  font-size: 12px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="address"],
input[type="city"],
input[type="state"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  text-align: left;
  padding: 10px;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 30px;
  width: 95%;
  border-radius: 5px;
  border-width: 1px 1px 3px;
  overflow: scroll;

}

label {
  text-align: left;
  display: block;
  padding-bottom: 10px;
}
#zip {
  width: 125px;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
  margin: 0 4px 8px 0;
  display: inline;
  justify-content: left;
}
textarea {
  height: 100px;
  width: 100%;
  resize: none;
}
button {
  padding: 8px 8px 8px 8px;
  color: #FFF;
  background-color: #4dd1c2;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  border-color: #4dd1c2;
  margin-bottom: 10px;
}

.copyright {
  padding-top: 15px;
  font-style: italic;
  font-size: 12px;
  text-align: center;

}
.radio_buttons {
  display: inline;
}

/* Media Queries */

@media only screen and (min-width: 768px) {


}
