body {
  font-family: "Trirong", sans-serif;
  max-width: 100%;
  font-size: 14px;
}
input:focus,
textarea:focus,
select:focus {
  outline: 3px solid orange;
}
input:hover,
textarea:hover,
select:hover {
  zoom: 110%;
}
.first-header {
  padding-top: 75px;
  font-size: 16px;
  margin-top: -10px;
}
h2 {
  font-size: 18px;
  margin-bottom: -10px;
  text-align: center;
}
p {
  text-align: center;
}

.top-border {
  border-bottom: 5px solid #0d1c36;
  width: 90%;
}
.bottom-border,
.border-bottom {
  border-bottom: 1px solid #0d1c36;
  margin-top: -4px;
  width: 90%;
}
.website-title {
  width: 100%;
  background-color: #0d1c36;
  position: fixed;
  top: 0;
  left: 0;
}
h1 {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
}
.container {
    box-sizing: border-box;
    background-color: white;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="address"],
input[type="city"],
input[type="state"],
select,
textarea {
  border: none;
  font-size: 16px;
  text-align: left;
  padding: 10px;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 10px;
  width: 95%;
  overflow: auto;
  border-radius: 5px;
  border: 1px;
  transition: width 2s;

}

::placeholder {
  text-align: right;
  opacity: 0.25;
}
label {
  display: block;
  margin-top: 5px;
  text-align: left;
}
fieldset {
  border: none;
  text-align: left;
}

legend {
  font-size: 16px;
  font-weight: 900;
}
#zip {
width: 150px;
}
.contact-label {
width: 100%;
}
.contact-form {
  margin-bottom: 10px;
}
.newsletter-header {
  text-align: left;
}
.newsletter-checkbox {
  background-color: #F5B1A2;
  border-radius: 10px;
  border: 1px;
}
.newsletter-checkbox:hover {
  opacity: 0.6;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
  margin: 0 4px 8px 0;
  display: inline;
  justify-content: left;
}

textarea {
  height: 75px;
  resize: none;
  width: 90%;
  overflow: scroll;
}
button {
  width: 95%;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #FFF;
  background-color: #4dd1c2;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  border-color: #4dd1c2;


}
footer {
  text-align: center;
}

@media only screen and (min-width: 768px) {

  .container {
    width: 60%;

  }
  label {
  margin-top: 50px;
  text-align: left;
}
  button {
  width: 70%;
}

.contact,
.zip-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.contact-label {
    flex-basis: 25%;
    align-self: flex-start;
    padding-bottom: 25px;
    margin-right: -30px;
}

.contact-input {
    flex-basis: 70%;
    margin-left: 10%;
    align-self: flex-end;

}
legend {
  padding-top: 20px;
}
.select {
  text-align: left;
}
#zip {
  flex-basis: 30%;
  align-self: flex-end;
}
textarea {
  width: 95%;
  margin-top: 10px;
}
button {
  width: 100%;
}


}
